<div class="w-full md:w-96 md:max-w-full mx-auto">
  <div class="p-6 border border-gray-300 sm:rounded-md">
    <%= render '/v1/partials/alert' %>
    <%= form_with model: @short_link, url: v1_short_links_path do |form| %>
      <%= form.label :target_url_label, "Enter the URL you want to shorten", class: "block text-gray-700 text-medium font-bold mb-4" %>
      <%= form.text_field :target_url, required: true, placeholder: "https://www.wikipedia.org", class: "w-full border border-gray-300 rounded mb-4" %>
      <%= form.submit 'Shorten URL', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" %>
    <% end %>
  </div>
</div>